# Configuration file for SAGS Server 0.2.x
#
# All files must have full path.
#
# Comments start with "#"

# Logging settings
Logging.File "/var/log/sags.log"
Logging.Debug yes

# Process to execute
Process.Command "/usr/bin/quake2 +set dedicated 1 +exec server.cfg"
Process.Environment "PATH=/usr/bin:/bin"
Process.WorkingDirectory "/usr/share/games/quake2"
Process.Respawn yes
Process.HistoryLength 10240

# Network configurations
Network.Port "47777"
Network.MaxClients 2
Network.CertificateFile "/etc/ssl/certs/sags.pem"

# Main configurations
Main.UsersFile "/etc/sags/sags.users"
