# Configuration file for SAGS Server 0.3.x
#
# All files must have full path.
#
# Comments start with "#"

# Logging settings
[Logging]
File="/var/log/sags.log"
Debug=yes

# Network configurations
[Network]
Port="47777"
MaxClients=2
CertificateFile="/etc/ssl/certs/sags.pem"

# Main configurations
[Main]
UsersFile="/etc/sags/sags.users"

# Process to execute
[Process1]
Type="quake2"
Command="/usr/bin/quake2 +set dedicated 1 +exec server1.cfg"
Environment="PATH=/usr/bin:/bin"
WorkingDirectory="/usr/share/games/quake2"
Respawn=yes
HistoryLength=10240
Name="server1"
Description="This is the Quake2 server Nº1"

[Process2]
Type="quake2"
Command="/usr/bin/quake2 +set dedicated 1 +exec server2.cfg"
Environment="PATH=/usr/bin:/bin"
WorkingDirectory="/usr/share/games/quake2"
Respawn=yes
HistoryLength=10240
Name="server2"
Description="This is the Quake2 server Nº2"

